# This affects access control for clients with no username.
topic read $SYS/#

# ACLs coming from Ansible
{% for acl in mqtt_acls %}
user {{ acl.user }}
{% for item in acl.topics %}
topic {{ item.right }} {{ item.topic }}
{% endfor %}

{% endfor %}

# ACLs paterns coming from Ansible
{% for pattern in mqtt_acls_patterns %}
{{ pattern }}
{% endfor %}


